@media only screen and (max-width: 768px) {
    .game-container {
        display: none;
    }

    .all {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-top: 20%;
    }

    p {
        width: 100%;
        margin: auto;
        color: gray;
        text-align: center;
    }

    .sitei {
        width: 100%;
    }

    .epe {
        font-size: 300%;
    }

    .toppage {
        font-size: 130%;
        border: 2.5px solid gray;
    }

    .toppage a {
        color: gray;
    }
}

@media print,
screen and (min-width: 769px) {

    .all {
        display: none;
    }

    body {
        margin: 0;
        overflow: hidden;
    }

    p {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 250%;
        color: gray;
        text-align: center;
        width: 1000px;
    }

    .epe {
        font-size: 350%;
    }

    .toppage {
        font-size: 120%;
        border: 2.5px solid gray;
    }

    .toppage a {
        color: gray;
    }

    .game-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: black;
    }

    .character {
        position: absolute;
        width: 40px;
        height: 40px;
        background-image: url('image/character.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        bottom: 25%;
        transform: scaleX(1);
    }

    .ground {
        position: absolute;
        width: 100%;
        height: 25%;
        background-color: #535353;
        bottom: 0;
    }

    .ceiling {
        position: absolute;
        width: 100%;
        height: 10px;
        background-color: #535353;
        top: 0;
    }

    .obstacle {
        position: absolute;
        width: 35px;
        height: 35px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .obstacle:nth-child(1) {
        right: 0;
        bottom: 25%;
    }

    .obstacle:nth-child(2) {
        right: 0;
        bottom: 25%;
    }

    .obstacle:nth-child(3) {
        right: 0;
        bottom: 10px;
    }

    .obstacle:nth-child(4) {
        right: 0;
        bottom: 10px;
    }

}